<div class="show-container">
  <div class="show-img">
  <% @dwarf.photos.each do |photo| %>
  <%= cl_image_tag photo.key %>
  <% end %>
  </div>
  <div class="show-infos">
    <h1><%= @dwarf.nickname %></h1>
    <h2>Taille : <%= @dwarf.size %> cm</h2>
    <h3>Genre : <%= @dwarf.gender %></h3>
    <h3>Description : <%= @dwarf.description %></h3>
    <h3>Adresse : <%= @dwarf.location %></h3>
    <hr>
    <div class="skills-container">
      <%  @dwarf.dwarf_skills.each do |skill| %>
      <div class="skill">
        <%=  Skill.find(skill.skill_id).skill %>
      </div>
      <% end %>
    </div>
    <div class="reviews_container">
    <% rents = Rent.where(dwarf_id: @dwarf.id) %>
     <% rents.each do |rent| %>
       <% reviews = Review.where(rent_id: rent.id) %>
       <% reviews.each do |review| %>
       <h2><%= review[:comment] %></h2>
       <% stars = review[:rating].to_i  %>
      <% stars.times do %>
      <i class="fas fa-toilet-paper"></i>
     <% end %>
     <% end %>
     <% end %>
    </div>
  </div>
</div>
