<div class="form-container">
  <% dwarf = Dwarf.find(params[:dwarf_id]) %>
  <h1>Rent <%= dwarf.nickname %></h1>
  <hr>
  <%= simple_form_for [@dwarf, @rent] do |f| %>
    <h2>Start time</h2>
    <%= f.datetime_field :start_date, as: :date%>
    <h2>End time</h2>
    <%= f.datetime_field :end_date, as: :date%>
    <hr>
    <%= f.submit 'Hire this midget', class: "btn btn-primary" %>
  <% end %>
</div>
 <%= link_to 'Back to dwarf collection', dwarves_path, class: "btn btn-warning"  %>
