<div class="form-container">
  <div class="rent">
    <div class="rent-form">
      <% dwarf = Dwarf.find(params[:dwarf_id]) %>
      <h1 id="price" data-price-per-hour="<%=dwarf.price_per_hour%>">Louer <%= dwarf.nickname %></h1>
      <hr>
      <%= simple_form_for [@dwarf, @rent] do |f| %>
        <h2>Date de début</h2>
        <%= f.datetime_field :start_date, as: :date%>
        <h2>Date de fin</h2>
        <%= f.datetime_field :end_date, as: :date%>
        <hr>
        <%= f.submit 'Hire this midget', class: "btn btn-primary" %>
        <hr>
        <%= link_to 'Back to dwarf collection', dwarves_path, class: "btn btn-warning"  %>
      <% end %>
      <br>
    <div id="rent-price"><h1 class='text-center'><span id="prout">0</span><span>$</span> </h1></div>
    </div>
    <div class="rent-card">
    <%= render 'shared/card', dwarf: dwarf%>
    </div>
  </div>
</div>
