<div class="card-trip">
   <%= cl_image_tag dwarf.photos[0].key%>
  <div class="card-trip-infos">
    <div>
      <h2><%=link_to dwarf.nickname, dwarf_path(dwarf) %></h2>
      <p><%= dwarf.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= dwarf.price_per_hour %> $/h</h2>
  </div>
  <% if dwarf.user_id != current_user.id  %>
  <div class="hire-btn">
    <%= link_to 'Hire me', new_dwarf_rent_path(dwarf.id), class: "btn btn-primary"  %>
  </div>
  <% end  %>
</div>
