<div class="card-trip">
   <%= cl_image_tag dwarf.photos[0].key%>
  <div class="card-trip-infos">
    <div>
      <h2><%=link_to dwarf.nickname, dwarf_path(dwarf) %></h2>
      <p><%= dwarf.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= dwarf.price_per_hour %> $/h</h2>
  </div>
    <div class="skills-container">
      <%  dwarf.dwarf_skills.each do |skill| %>
      <div class="skill">
        <%=  Skill.find(skill.skill_id).skill %>
      </div>
      <% end %>
    </div>
    <div class="reviews_container">
      <% rents = Rent.where(dwarf_id: dwarf.id) %>
      <% rents.each do |rent| %>
        <% reviews = Review.where(rent_id: rent.id) %>
        <% review = reviews.last %>
      <% if  review != nil %>
        <% stars = review[:rating].to_i  %>
        <div class="cards-stars">
          <% stars.times do %>
            <i class="fas fa-star"></i>
          <% end %>
      <% end %>
        </div>
        <% end %>
  <% if current_user && dwarf.user_id != current_user.id  %>
    <div class="hire-btn">
      <%= link_to 'Hire me', new_dwarf_rent_path(dwarf.id), class: "btn btn-primary"  %>
    </div>
  <% end  %>
    </div>
</div>
